﻿@using DataEntities.Models;
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-md">
    <table class="table table-bordered table-striped" style="width: 80%; text-align:center">
        <thead>
            <tr>
                <th width="50%">
                    Books
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">
                        @obj.Title
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Book" asp-action="ShowBookDetails" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Book" asp-action="AddBook" class="btn btn-success mx-2" style="vertical-align:middle; align-items: center">Add a new book</a>
</div>
