﻿@using DataEntities.Models;
@model Book

@{
    ViewData["Title"] = "Add Book";
    var authors = ViewBag.authors;
}

<form method="post">
    <div class="border" p-3 mt-4>
        <div class="row pb-2">
            <h2 class="text-primary">Add a book</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="CoverPath"></label>
            <input asp-for="CoverPath" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Language"></label>
            <input asp-for="Language" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Select an author</label>
            <select name="authorId">
                @foreach (var author in authors)
                {
                    <option value="@author.Id">@author.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary" style="width: 150px">Create book</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to Book List</a>
        <a asp-controller="Author" asp-action="AddAuthor" class="btn btn-success mx-2" style="vertical-align:middle; align-items: center">Add a new author</a>


    </div>
</form>