﻿@using DataEntities.Models;
@{
    ViewData["Title"] = "Author Details";
    var author = ViewBag.aboutAuthor;
    var authorBooks = ViewBag.booksOfAuthor;
}

<div class="w3-container">
    <img src="@author.ImagePath" alt="Image" style="width: 200px; height: 200px;" />
    <h3>Name: @author.Name</h3>
    <h3>Address: @author.Address</h3>
    <br />
    <table class="table table-bordered table-striped" style="width: 50%; text-align:center">
        <thead>
            <tr>
                <th>Books</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in authorBooks)
            {
                <tr>
                    <td width="50%">
                        <a asp-controller="Book" asp-action="ShowBookDetails" asp-route-id="@book.Id">@book.Title</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Author" asp-action="UpdateAuthor" asp-route-id=@author.Id class="btn btn-primary mx-2">Update</a>
    @*<a asp-controller="Home" asp-action="DeleteAuthor" asp-route-id=@author.Id class="btn btn-danger mx-2">Delete</a>*@

    @*delete button with a confirmation pop up*@
    <a onclick="return confirm('All books of this author will be deleted. Are you sure to delete?')" asp-controller="Author" asp-action="DeleteAuthor" asp-route-id=@author.Id class="btn btn-danger mx-2">Delete</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to Book List</a>

</div>
